#signup-div {
  background-color: #00ade5;
  text-align: center;
  margin: 0 25%;
  height: 600px;
  padding: 5%;
  box-shadow: 10px 10px 5px #aaaaaa;
  border-radius: 5px;
}

.auth-link {
  text-decoration: underline;
  color: #006ba1;
  cursor: pointer;
}
